{% extends "homebase.html" %}
{% load static %}

{% block content %}
    <div class="top-level">
        <div class="sidebar-container" style="padding: 2rem; float: left">
        {% block sidebar %}
            {% include 'homeSideBar.html' %}
        {% endblock sidebar %}
        </div>
        <div class="container" style="padding: 2rem;">
                <img style="box-shadow: 0 5px 15px #6a6a6b;" src="{% static 'images/teamPlaceHolder.jpg' %}" alt="">
        </div>
    </div>


    {#Contact Section#}
        <div class="container" style="padding-left: 10rem;">
            <h3>Contact Us</h3>
                <form class="form-field" action="" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" value="Submit">
                </form>
        </div>

{% endblock %}