{% block sidebar %}

    <style>
        .card {
            box-shadow: 0 5px 15px #6a6a6b;
            background-color: #02877D;
        }
    </style>
    <div class="card text-white mb-4" style="max-width: 15rem;">
        <div class="card-header">Our Culture</div>
        <div class="card-body">
            <h4 class="card-title">Devops</h4>
            <p class="card-text">
                DevOps is the combination of cultural philosophies, practices, and tools that increases an
                organization's ability to deliver applications and services at high velocity. In combination with
                IaaC using Terraform managing large-scale, distributed systems, cloud-native applications, and service-based architectures.
            </p>
        </div>
    </div>
    <div class="card text-white mb-4" style="max-width: 15rem;">
        <div class="card-header">Cloud Infrastructure</div>
        <div class="card-body">
            <h4 class="card-title">Amazon Web Services</h4>
            <p class="card-text">
                The world's most comprehensive and broadly adopted cloud platform, offering over 200 fully featured
                services from data centers globally.
            </p>
        </div>
    </div>
    <div class="card text-white  mb-4" style="max-width: 15rem;">
        <div class="card-header">Application Architecture</div>
        <div class="card-body">
            <h4 class="card-title">MicroServices</h4>
            <p class="card-text">
                Enabling the rapid, frequent and reliable delivery of large, complex applications. This enables an
                organization to evolve its technology stack.
            </p>
        </div>
    </div>
    <div class="card text-white  mb-4" style="max-width: 15rem;">
        <div class="card-header">DevSecOps</div>
        <div class="card-body">
            <h4 class="card-title">Security</h4>
            <p class="card-text">Automating the integration of security at every phase of the software development lifecycle.</p>
        </div>
    </div>




{% endblock sidebar %}
