{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Trident Cloud Solutions</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Bootstrap cdn -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/journal/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/sandstone/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}">

    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/sketchy/bootstrap.min.css"> -->
</head>

<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary" id="mainNav">
    <div class="container-fluid">
        <a href="{% url 'homepage' %}" class="navbar-brand" >Trident Cloud Solutions</a>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item text-black">
                    <a class="nav-link" href="{% url 'homepage' %}">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item text-black">
                    <a class="nav-link" href="{% url 'store' %}">Services<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item text-black">
                    <a class="nav-link" href="{% url 'blog_home' %}">Articles<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item text-black">
                    <a class="nav-link" href="{% url 'about' %}">About Us<span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% block content %}
    <!-- Content Goes here -->
{% endblock content %}
<!-- Footer -->
<footer class="py-3 bg-grey">
    <p class="m-0 text-dark text-center ">Copyright &copy; 2018-2022 Trident Cloud Solutions </p>
</footer>
</body>

</html>