
{% extends 'base.html' %}
{% load blog_extras %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 card mb-4  mt-3 left  top">
                <div class="card-body">
                    <h1>{% block title %} {{ object.title }} {% endblock title %}</h1>
                    <p class=" text-muted">{{ post.author }} | {{ post.created_on }}</p>
                    {% if post.image %}
                        <img class="img-refactor" src="{{post.header_imageURL}}">
                    {% endif %}
                    <p class="card-text ">{{ object.content | convert_markdown | safe }}</p>
                </div>
            </div>
{#            {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}#}
        </div>
    </div>

{% endblock content %}