{% block sidebar %}

    <style>
        .card {
            box-shadow: 0 16px 48px #6a6a6b;
        }
    </style>

    <!-- Sidebar Widgets Column -->
    <div class="col-md-4 float-right">
        <div class="card my-4.7.">
            <h5 class="card-header">About Me</h5>
            <div class="card-body">
                <p class="card-text">  </p>
                <a href="https://phillipbates.com" class="btn btn-danger">Visit Website!</a>
            </div>
        </div>
    </div>

{% endblock sidebar %}