<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Trident Solutions</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/sandstone/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <!--   loaded first to query users to check login status-->
    <script type="text/javascript">
        var user = '{{request.user}}'
        // used in eventlistener function cart.js

        //create csrf tokens
        function getToken(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    //Does cookie string begin with the name we want
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(
                            name.length + 1
                        ));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getToken('csrftoken');

        function getCookie(name) {
            //split cookie string and get all individual name=value pairs in an array
            var cookieArr = document.cookie.split(";");

            //loop through the array elements
            for(var i = 0; i < cookieArr.length; i++) {
                var cookiePair = cookieArr[i].split("=");

                if(name == cookiePair[0].trim()) {
                    return decodeURIComponent(cookiePair[1]);
                }
            }
            // return null if not found
            return null;
        }
        var cart = JSON.parse(getCookie('cart'))
        if(cart == undefined){
            cart = {}
            console.log('Cart was created!')
            // set the cookie to the document
            document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/" //cookie from any page

        }
        console.log('Cart:', cart)
    </script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary" id="mainNav">
    <div class="container-fluid">
        <a href="{% url 'homepage' %}" class="navbar-brand" >Trident Cloud Solutions</a>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item text-black">
                    <a class="nav-link" href="{% url 'homepage' %}">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item text-black">
                    <a class="nav-link" href="{% url 'blog_home' %}">Articles<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item text-black">
                    <a class="nav-link" href="{% url 'about' %}">About Us<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item text-black">
                    <a class="nav-link" href="{% url 'checkout' %}">Checkout<span class="sr-only">(current)</span></a>
                </li>
                <li>
                <a href="{% url 'cart' %}">
                    <img  id="cart-icon" src="{% static 'images/shoppingCart.png' %}">
                </a>
                </li>
                <p id="cart-total">{{cartItem}}</p>
            </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <br>
        {% block content %}


        {% endblock content %}
    </div>
    <footer class="py-3 bg-grey">
        <p class="m-0 text-dark text-center ">Copyright &copy; 2018-2022 Trident Cloud Solutions </p>
    </footer>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'js/cart.js' %}"></script>

</body>
</html>
